@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

#content{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: space-around;
	gap: 10%;
	min-height: 50vh;
}

#scoreboard{
	display: flex;
	gap: 30%;
	border: 5px solid #FF8FB1;
	border-radius: 5%;
	padding: 1vh 4.2vh;
	justify-content:center;
	font-family: 'Ubuntu', 'sans-serif';
}

.score{
	display: flex;
	flex-direction:column;
	align-items:center;
}

.underline{
	text-decoration:underline;
}


#card-container{
	display:flex;
	flex-flow: row wrap;
	gap:10%;
	justify-content:center;
}

.card{
	margin: 3% 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#info{
	align-self: flex-end;
	font-weight: 700;
	cursor:pointer;
	margin: 0 5vh;
}