@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

:root{
	--bg_1: #7A4495; 
}

body{
	margin:0;
	background: #363333;
	font-family: 'Mukta', 'sans-serif';
	color: #FCE2DB
}

p{
	margin:0;
}

h3{
	margin:0;
}

.App{
	min-height:100vh;
	display:flex;
	flex-direction: column;
	justify-content:space-between;
}

#header{
	font-family: 'Poppins', 'sans-serif';
	display:flex;
	justify-content: center;
	align-items: center;
	background: var(--bg_1);
	color: #FCE2DB;
}

#footer{
	font-family: 'Poppins', 'sans-serif';
	display:flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	background: var(--bg_1);
	color: #FCE2DB;
}